<!DOCTYPE html>
<html lang="en" ng-app="MyApp" ng-controller="AppCtrl" >

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- L20n setup -->
    <link rel="localization" href="../locales/manifest.json">
    <script type="application/l10n-data+json">
      {
        "build": "prod",
        "mode": "multi"
      }
    </script>

    <!-- Include the dist version of L20n -->
    <script src="../lib/l20n.js"></script>
    <script>

        // L20n and document.l10n are now available
            document.l10n.ready(function() {
                if(!( document.l10n.supportedLocales[0] == '<%=locale %>')) {
                    console.log(document.l10n.supportedLocales);
                    console.log('<%= locale %>');
                    document.l10n.requestLocales('<%= locale %>');
                    if ("<%= locale %>" == 'ru') {
                        $('#show').html("Показать комментарии");
                        $('#leave').html("Оставить оценку");
                        $('#coms').html("Комментарии");
                        $('#type').html("Напечатайте свой!");
                        $('#submit').html("Опубликовать")
                        $('#like').html("лайк(а/ов)");
                        $('#cl').html("Закрыть");
                    }
                    console.log("Document's context is ready");
                }
                });



    </script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

    <link rel='stylesheet' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.10/angular-material.css'>
    <link rel='stylesheet' href='https://material.angularjs.org/1.1.10/docs.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://js.pusher.com/4.3/pusher.min.js"></script>

    <% include ../partials/stylesheet %>
</head>

<body>
<style>

</style>
<% include ../partials/header %>
<div  layout="column" style="height:500px;" ng-cloak="" class="sidenavdemoBasicUsage"  ng-init="postid='<%= id %>'; user='<%= user %>'; str=''">

    <style>

        .btn-1 {text-transform: none}
    </style>
    <div layout="row" flex="" layout-align>

        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" >

            <md-toolbar class="deep-orange">
                <h1 >Wiki</h1>
                <h4  align="center" >{{title}}</h4>
                <div  ng-repeat="x in toc ">
                    <i ng-show="index==$index"class='angle right icon'> </i>
                    <i ng-show="index>$index"class='check square icon'> </i>
                    <md-button aria-label="Menu" class="btn-1"  ng-click="change(x)" ng-bind-html=" (x.slice(x.indexOf('>')+1, x.lastIndexOf('<')))"> </md-button>
                </div>
                    <div  ng-controller="RatingController as ratingForm"  class="rating-module"  ng-init="postid='<%= id %>'; user='<%= user %>'">
                    <div class="stage1"  name="frmRatingStep1">
                        <directive star-rating class="holder border-block"  ng-model="ratingForm.starrate" max="5" ng-click="update('rating'+ratingForm.starrate)" ng-show="user"></directive>
                        <md-button ng-click="rank();" ng-show="user" id="leave">Leave your rank!</md-button>
                    </div>
                </div>
            </md-toolbar>
            <md-content layout-padding="" ng-controller="LeftCtrl">
                <md-button ng-click="close()" class="md-primary" hide-gt-md="">
                    Close Sidenav Left
                </md-button>

            </md-content>

        </md-sidenav>
                <md-content flex="" layout-padding="">

            <div layout="column" layout-align="top center">
                <md-card>

                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" ng-bind-html="toc[index]">  </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                       <div ng-bind-html="steps[index]">
                       </div>

                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="sub()" ng-show="index">Previous step</md-button>
                        <md-button ng-click="add()" ng-show="steps.length-index-1">Next step</md-button>
                    </md-card-actions>
                </md-card>

                <div>
                    <md-button ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-primary" data-l20n-id="name" id="show">
                        Show comments
                    </md-button>
                </div>
            </div>

            <div flex=""></div>

        </md-content>

        <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

            <md-toolbar class="md-theme-light">
                <div class="md-toolbar-tools">
                    <span id="coms">Comments</span>
                </div>
            </md-toolbar>
            <md-content ng-controller="RightCtrl"  layout-padding="" id="wrap" ng-init=" user='<%=user %>'">
                <form>
                    <md-input-container ng-show="user">
                        <label for="testInput" id="type">Type your comment!</label>
                        <input id="testInput" ng-model="data" md-autofocus="" type="text">
                    </md-input-container>
                    <md-button ng-click="submit()" class="md-primary" ng-show="user" id="submit">
                        Submit comment
                    </md-button>
                </form>
                <md-list flex="" ng-model="list">
                    <md-divider></md-divider>

                    <md-list-item class="md-3-line" ng-repeat="item in todos">

                        <img ng-src="{{item.pic}}" class="md-avatar" alt="{{item.name}}">
                        <div class="md-list-item-text">
                            <h3>{{item.name}}</h3>
                            <p>{{item.text}}</p>
                            <div class="md-toolbar-tools">

                                <span flex>  <p> {{item.likes}} <span id="like"> like(s) </span></p></span>
                                <md-button class="md-icon-button" ng-click="onlike(this)">
                                    <md-icon md-font-icon=" fa-heart-o" ng-hide="item.liked" class="fa"></md-icon>
                                    <md-icon md-font-icon=" fa-heart" ng-show="item.liked" class="fa"></md-icon>
                                </md-button>
                            </div>
                        </div>
                    </md-list-item>


                </md-list>
                <md-button ng-click="close()" class="md-primary" id="cl">
                    Close comments
                </md-button>
            </md-content>

        </md-sidenav>

    </div>


</div>

<!--
Copyright 2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-messages.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
<script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.10/angular-material.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-sanitize.js"></script>
<script>

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('90263c93819cebfbdc47', {
        cluster: 'eu',
        encrypted: true
    });
    var socketId = null;
    pusher.connection.bind('connected', function() {
        var scope = angular.element(document.getElementById("wrap")).scope();
        socketId = pusher.connection.socket_id;

        scope.socket=socketId;
    });

    var channel = pusher.subscribe('my-channel');

    channel.bind('my-event', function(data) {


        var scope = angular.element(document.getElementById("wrap")).scope();
        console.log(scope);
        scope.$apply(function () {
            scope.upd(data);

        });
    });

</script>



<script  src="js/index.js"></script>




</body>

</html>
