<!DOCTYPE html>
<head>
    <title>{{title}}</title>
    <% include ../partials/stylesheet %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>

    <!-- L20n setup -->
    <link rel="localization" href="../locales/manifest.json">
    <script type="application/l10n-data+json">
      {
        "build": "prod",
        "mode": "multi"
      }
    </script>

    <!-- Include the dist version of L20n -->
    <script src="../lib/l20n.js"></script>
    <script>

        // L20n and document.l10n are now available
        document.l10n.ready(function() {
            if(!( document.l10n.supportedLocales[0] == '<%=locale %>')) {
                console.log(document.l10n.supportedLocales);
                console.log('<%=locale %>');
                document.l10n.requestLocales('<%=locale %>');
            }
            console.log("Document's context is ready");
        });

    </script>
</head>

<body>
<style>
.description
{
    overflow: scroll;
}
</style>
    <% include ../partials/header %>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h4 class="text-muted" data-l10n-id="posts"></h4>
            </div>
        </div>
        <!-- Modal -->

        <hr>
        <div class="ui three stackable cards">
            <% comments.forEach(function(comments){ %>
            <a class="ui card" href="/article?id=<%=comments.id%>">
                <div class="content">
                    <div class="ui top right attached label"><%=comments.topic%></div>
                    <div class="header"><%= comments.title %></div>
                    <div class="meta" >
                        <span data-l10n-id="tags"></span>
                        <% comments.Tags.forEach(function(item){ %>
                        <span class="category"> <%=item.dataValues.name%> </span>
                        <%});%>
                    </div>
                    <div class="ui medium image">
                        <img src="<%=comments.pic%>">
                    </div>
                    <div class="description" >
                        <%= comments.description %>
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated author">
                        <img class="ui avatar image" src="<%=comments.avatar%>">
                        <%= comments.user.name %>
                    </div>
                    <div align="left">
                        <%= comments.avg%>
                        <% for(var i=0; comments.avg-i>=1; i++) {%>
                            <span style="color: Gold">
                                    <i class="fas fa-star"></i>
                                     </span>
                        <% };%>
                        <% for(var i=0; i<5-comments.avg; i++) {%>
                        <span style="color: LightSlateGrey;">
                            <i class="fas fa-star"></i>
                            </span>

                                    <% };%>
                    </div>
                </div>
            </a>
            <% });%>
        </div>
            </div>




<% include ../partials/footer %>


        <% include ../partials/javascript %>
    </body>
    </html>
