<!DOCTYPE html>
<html >
<head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
    <link rel="stylesheet" href="../profile/css/style.css">

    <link rel="stylesheet" href="../buttons/css/style.css">
    <!-- Bootstrap 3 css -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- Angular.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-sanitize.min.js"></script>
    <!-- Angular-xeditable -->
    <link href="../angular-xeditable/css/xeditable.css" rel="stylesheet">
    <script src="../angular-xeditable/js/xeditable.js"></script>
    <!-- app.js -->
    <link rel="stylesheet" type="text/css" href="../style/app.css"/>
    <script src="../cloudtags/tangCloud.js"></script>
    <script src="../angular-xeditable/app.js"></script>
    <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css'>
    <link rel='stylesheet' href='http://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css'>

</head>
<body ng-app="app" ng-controller="Ctrl">
    <% include ../partials/header %>

    <div class="container">

        <h1><%= title %></h1>
        <div class="datails">

            <div class="card text-xs-center">

                <br>
                <img class="card-img-top" src="<%= avatar %>" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">User Details</h4>
                    <p class="card-text">
                    <div  ng-init="nam='<%= user.name%>'; email='<%= user.email%>'">
                        <!-- editable element -->
                        <div id="debug" style="margin-top: 30px">
                            <strong>Name</strong>: <a href="#" editable-text="nam">{{nam|| "empty" }}</a><br>
                            <strong>Email</strong>:  <a href="#" editable-text="email">{{email|| "empty" }}</a>
                        </div>
                    </div>


                    </p>
                    <a href="/logout" class="btn btn-default">Logout</a>
                </div>
            </div>
            <div class="container" align="center">



                <table id="table"
                       data-toggle="table"
                       data-search="true"
                       data-filter-control="true"
                       data-show-export="false"
                       data-click-to-select="true">
                    <thead>
                    <a href="#" class="batn red">Delete</a>
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="title" data-filter-control="input" data-sortable="true">Title</th>
                        <th data-field="date" data-filter-control="select" data-sortable="true">Date</th>
                        <th data-field="grade" data-filter-control="input" data-sortable="true">Grade</th>
                        <th data-field="descr" data-sortable="true">Description</th>
                        <th data-field="btn"  data-formatter="TableActions"> Buttons</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% posts.forEach(function(item) { %>
                    <tr id="<%=item.id%>">
                        <td class="bs-checkbox "><input data-index="<%=item.id%>"  name="btSelectItem" type="checkbox"></td>
                        <td><%= item.dataValues.title%></td>
                        <td><%= item.createdAt%></td>
                        <td><%= item.grade%></td>
                        <td><%= item.description%></td>
                    </tr>
                    <% }); %>

                    </tbody>
                </table>

            </div>

            <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
            <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
            <script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.js'></script>
            <script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js'></script>
            <script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.js'></script>
            <script src='http://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js'></script>
            <script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter-control/bootstrap-table-filter-control.js'></script>
            <script  src="../profile/js/index.js"></script>
            <script  src="../buttons/js/index.js"></script>
            <script>
            function TableActions (value, row, index) {
                x=value;
                console.log(value);
                console.log(row);
                console.log(index);
                quer=window.location.search;
                if(quer) {
                    quer[0] = 'a';
                }
            return [
                '<div id="buttons">'+'<a href=/delet?id='+row._id+'&back='+quer+' class="batn red">Delete</a>'+'<a href=/edit?id='+row._id+' class="batn yellow">Edit post</a>'+'</div>'
            ].join('');
            }

            </script>

        </div>
    </div>
    <div class="cloud">
        <tang-cloud words="words" on-click="test(word)" width="900" height="900" ></tang-cloud>
    </div>
        <% include ../partials/javascript %>
    </body>
    </html>
